h1 {
color: white;
background-color: black;
}

h2 {
    color: grey;
    background-color: darkblue;

}

h3 {
      color: beige;
      background-color: blueviolet;
}

li {
     
     background-color: grey;
}

.aik {
    color: yellow;
    background-color: black;
}

.liverpool {
    color: white;
    background-color: red;
}

#dresden {
    color: black;
    background-color: yellow;
}